@use "sass:list";

$containerSizes: 2000px, 1600px, 1300px, 900px;
$containerAlts:  1600px, 1300px,  900px, 900px;
$containerNames:     '',  '-lg',  '-md', '-sm';

$_temp1: ();

@for $i from 1 through 4 {
    $name: list.nth( $containerNames, $i );
    $value: list.nth( $containerSizes, $i );
    $alt: list.nth( $containerAlts, $i );
    $_temp1: list.append( $_temp1, #{ ".container" + $name }, comma );
    .container#{ $name }, .container#{ $name }-static {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: $value;
    }
    @media screen and ( max-width: $value + 80px ) {
        #{ $_temp1 } {
            max-width: $alt;
        }
    }
}